<h2>Submission!</h2>

<form>
    Start: <input type="text" pattern="[0-9]{1,2}:[0-9]{1,2}"><br/>
    End: <input type="text" pattern="[0-9]{1,2}:[0-9]{1,2}"><br/>
    Source/Url: <input type="text">
</form>