@using Lickr.Helpers
@using Lickr.SongHandlers
@model Lickr.Models.Song
@inject Func<SourceType, ISongHandler> HandlerResolver

@{
    ViewData["Title"] = "Home Page";
}

<h1>
    the Lick
</h1>
<div id="lick">
    <h2>@Model.Title by @Model.Artist</h2>
    @Html.SongDisplayFor(Model, HandlerResolver)
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Next</a>
